
body {
background-size: cover; 
background-position: center center; 
background-repeat: no-repeat; 
background-attachment: fixed; 
background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://www.usnews.com/dims4/USNEWS/9a413eb/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fcom-usnews-beam-media.s3.amazonaws.com%2F01%2F9e7536f05d7673345d75e9b0122e4d%2F42455WideModern_tesla_060313.jpg');

}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    font-size: 1.1em;

}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}


header a{
    text-decoration: none;
    color: black;
    margin: 0;
    margin-top: 50px;
    margin-left: 20px;
    font-family: Roboto;
}

@font-face {
  font-family: Roboto;
  src: url(Roboto-light.ttf);
}

div.font {
  font-family: Roboto;
}

@font-face {
  font-family: Helvetica;
  src: url(Helvetica.ttf);
}

div.font2 {
  font-family: Helvetica;
}

@font-face {
  font-family: RobotoIT;
  src: url(Roboto-Italic.ttf);
}

div.font3 {
  font-family: RobotoIT;
}

