body {
    margin: 0;
    margin-top: 50px;
}

header {
    display: fixed;
    position: flex;
    top: 0;
    left: 0;
    right: 0;
    /*height: 9px; IF I HAD A BG COLOR for the nav bar THIS WOULD BE USED */
    line-height: 3px;
    font-size: 1em;
    font-family: Merriweather;

}

header * {
    display: inline;
    height: 10px;
}

header ul {
    padding: 0px;
}

header a{
    text-decoration: none;
    color: black;
    margin: 0;
    margin-left: 20px;
}

@font-face {
  font-family: Merriweather;
  src: url(Merriweather-Light.otf);
}

div.font {
  font-family: Merriweather;
}
