body {
    margin: 0;
    margin-top: 0;
}

@font-face {
  font-family: Merriweather;
  src: url(Merriweather-Light.otf);
}

div.font {
  font-family: Merriweather;
}

section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;    
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#home {
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url('https://image.freepik.com/free-photo/flat-lay-working-space-office-desk-white-wood-table-background_29393-129.jpg');
}

#aboutme {
    background-color: #eee;

}

#projects {
    background-color: rgba(80, 80, 80, 0.15);;
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url('https://www.dentons.com/-/media/images/website/background-images/regions/united-states/us_regional_image_v7.jpg');
}

