body {
    margin: 0;
    margin-top: 50px;
    font-family: Roboto;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    font-size: 1.1em;

}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    /*border: 0.3px solid black;

    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px; */

    display: flex;
    justify-content: center;
    align-items: center;    
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2em;
}


header a{
    text-decoration: none;
    color: black;
}

div.text {
    background-color: transparent;
    width: 1200px;
    border: 0px solid black;
    padding: 0px;
    margin: 0px;
    margin-right: 200px;
}


#home {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://images.unsplash.com/photo-1455612693675-112974d4880b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&h=500&q=60.jpg');
}

#aboutme {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://cdn.cnn.com/cnnnext/dam/assets/150827142602-01-skyline-quiz-chicago-1-jpg.jpg');
}

#projects {
background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://cdn.vox-cdn.com/thumbor/LG8oFnaO9qfrmjzgaSMBDtHw-So=/0x0:5616x3159/1200x800/filters:focal(207x669:1105x1567)/cdn.vox-cdn.com/uploads/chorus_image/image/55024857/shutterstock_425351407.0.jpg');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://www.arabbank.com/images/default-source/default-album/contactusen.jpg?sfvrsn=9316569f_0.jpg');
}